/* [project]/app/components/Home/page.module.css [app-client] (css) */
.page-module__YjAmVq__home {
  height: 100vh;
  scroll-behavior: smooth;
}

.page-module__YjAmVq__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 7rem;
}

.page-module__YjAmVq__box1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #e9f2fa;
  border-radius: 50px;
  box-shadow: 0 5px 15px #0000001a;
  text-align: left;
  gap: 2rem;
}

.page-module__YjAmVq__box1_content {
  max-width: 50%;
  padding-left: 5rem;
}

.page-module__YjAmVq__box1_content h2 {
  font-size: 4rem;
  letter-spacing: 3px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.page-module__YjAmVq__box1_content p {
  font-size: 18px;
  color: #555;
  line-height: 3;
}

.page-module__YjAmVq__box1_img {
  width: 400px;
  height: 400px;
  margin-right: 5rem;
  border-radius: 10px;
}

.page-module__YjAmVq__button {
  font-size: 17px;
  border-radius: 2rem;
  background: linear-gradient(#383838 0%, #242424 66%, #292929 100%);
  color: #dadada;
  border: none;
  padding: 2px;
  margin-top: 2rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform .3s;
}

.page-module__YjAmVq__button:hover {
  transform: scale(1.05);
}

.page-module__YjAmVq__button span {
  border-radius: 10px;
  padding: .5em 1em;
  padding-right: .5em;
  text-shadow: 0 0 20px #4b4b4b;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  color: inherit;
  transition: all .3s;
  background-color: #1d1d1d;
  background-image: radial-gradient(at 95% 89%, #0f0f0f 0, #0000 50%), radial-gradient(at 0 100%, #111 0, #0000 50%), radial-gradient(at 0 0, #1d1d1d 0, #0000 50%);
}

.page-module__YjAmVq__button:hover span {
  background-color: #1a1919;
  animation: .6s infinite page-module__YjAmVq__pulse;
}

.page-module__YjAmVq__button-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(#302f2f 10e-8%, #333 .000104%) 60% 60% / 600% 600%;
  filter: opacity(10%) contrast(105%);
  -webkit-filter: opacity(10%) contrast(105%);
  transition: opacity .3s;
}

.page-module__YjAmVq__button:hover .page-module__YjAmVq__button-overlay {
  opacity: .3;
}

.page-module__YjAmVq__button svg {
  transition: transform .3s;
  fill: #00f;
}

.page-module__YjAmVq__button:hover svg {
  transform: translateX(5px);
}

.page-module__YjAmVq__boxContainer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  gap: 20px;
  justify-content: space-between;
}

.page-module__YjAmVq__box2, .page-module__YjAmVq__box3 {
  flex: 1;
  padding: 40px;
  font-size: 24px;
  border-radius: 50px;
  text-align: left;
}

.page-module__YjAmVq__box2, .page-module__YjAmVq__box3 {
  display: flex;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 10px #0000001a;
}

.page-module__YjAmVq__box2 {
  background: linear-gradient(135deg, #ff75ed, #eb59ba);
}

.page-module__YjAmVq__box3 {
  background: linear-gradient(135deg, #eb5638, #b2220f);
}

.page-module__YjAmVq__box2Content, .page-module__YjAmVq__box3Content {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  padding: 30px;
  background: #ffffff1a;
  border-radius: 50px;
}

.page-module__YjAmVq__textContent {
  flex: 1;
  text-align: left;
}

.page-module__YjAmVq__textContent h3 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.page-module__YjAmVq__textContent p:first-of-type {
  font-weight: bold;
  font-size: 18px;
  color: #f8f9fa;
}

.page-module__YjAmVq__textContent p:last-of-type {
  font-size: 16px;
  color: #e3e3e3;
}

.page-module__YjAmVq__tryNowButton {
  width: rem;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50px;
  transition: all .3s;
  box-shadow: 0 4px 10px #0003;
}

.page-module__YjAmVq__box2 .page-module__YjAmVq__tryNowButton {
  background: #44053c;
}

.page-module__YjAmVq__box2 .page-module__YjAmVq__tryNowButton:hover {
  background: #210408;
  transform: scale(1.05);
}

.page-module__YjAmVq__box3 .page-module__YjAmVq__tryNowButton {
  background: #44053c;
}

.page-module__YjAmVq__section {
  color: #fff;
  height: 80vh;
}

.page-module__YjAmVq__box3 .page-module__YjAmVq__tryNowButton:hover {
  background: #210408;
  transform: scale(1.05);
}

@media (width <= 768px) {
  .page-module__YjAmVq__boxContainer {
    flex-direction: column;
    gap: 10px;
  }

  .page-module__YjAmVq__box2, .page-module__YjAmVq__box3 {
    width: 100%;
  }
}

@media (width <= 1024px) {
  .page-module__YjAmVq__box1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 40px;
  }

  .page-module__YjAmVq__box1_content {
    max-width: 90%;
  }

  .page-module__YjAmVq__box1_img {
    width: 400px;
  }
}

@media (width <= 768px) {
  .page-module__YjAmVq__box1_content h2 {
    font-size: 26px;
  }

  .page-module__YjAmVq__box1_content p {
    font-size: 16px;
  }

  .page-module__YjAmVq__box1_img {
    width: 150px;
  }
}

@media (width <= 768px) {
  .page-module__YjAmVq__box2Content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .page-module__YjAmVq__tryNowButton {
    margin-top: 15px;
  }
}

@keyframes page-module__YjAmVq__pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@media (width <= 1024px) {
  .page-module__YjAmVq__box1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 40px;
  }

  .page-module__YjAmVq__box1_content {
    max-width: 90%;
  }

  .page-module__YjAmVq__box1_img {
    width: 400px;
  }
}

@media (width <= 768px) {
  .page-module__YjAmVq__boxContainer {
    flex-direction: column;
    gap: 10px;
  }

  .page-module__YjAmVq__box2, .page-module__YjAmVq__box3 {
    width: 100%;
  }
}

/*# sourceMappingURL=app_components_Home_page_module_b52d8e88.css.map*/